[project]
	description = Extensions for WebDriver is an enhancement to the powerful WebDriver API, with robust features that keep your browser automation running smoothly. It includes a widget library, improved session management and extended functions over the existing WebDriver API.
[access "refs/*"]
	owner = group user/Bryan Robbins (bryantrobbins)
[access "refs/for/refs/*"]
	read = group user/Bryan Robbins (bryantrobbins)
	push = group user/Bryan Robbins (bryantrobbins)
	label-Code-Review = -2..+2 group user/Bryan Robbins (bryantrobbins)
	label-Verified = -1..+1 group user/Bryan Robbins (bryantrobbins)
	rebase = group user/Bryan Robbins (bryantrobbins)
	removeReviewer = group user/Bryan Robbins (bryantrobbins)
	submit = group user/Bryan Robbins (bryantrobbins)
[access "refs/heads/*"]
	read = group user/Bryan Robbins (bryantrobbins)
	create = group user/Bryan Robbins (bryantrobbins)
	push = +force group user/Bryan Robbins (bryantrobbins)
	pushMerge = group user/Bryan Robbins (bryantrobbins)
[access "refs/tags/*"]
	push = +force group user/Bryan Robbins (bryantrobbins)
	pushTag = group user/Bryan Robbins (bryantrobbins)
	pushSignedTag = group user/Bryan Robbins (bryantrobbins)
